.footer {
    text-align: center;
}


.medium-screen {
    background-color: yellow;
    display: none;
}

.large-screen {
    background-color: red;
    visibility: hidden;
}

@media (min-width: 768px) { 
    .medium-screen {
        display: block;
    }
 }

 @media (min-width: 992px) { 
     .large-screen {
         visibility: visible;
     }
  }