/* This class sets the custom style for the footer's on this website */
.footerStyle {
    text-align: center;
    background-color: #FFD700;
    vertical-align: bottom;
    opacity:0.65;
}

/* This class sets the custom style for the forms on this website */
.formStyle {
    color: Black;
    background-color: lightgray;
    }

/* This class sets the custom style for the card images */
.card-img-top {
    width: 90%;
    padding-left: 10%;
    padding-top: 10%;
}




/* These classes show or hide content based on the screen size together with the media queries below*/

/* Only shows on xs & sm screens */
.extraSmall-screen {
    display: block;
}

/* Only shows on md or larger screens */
.medium-screen {
    display: none;
}

/* Only shows on lg or xl screens */
.large-screen {
    display: none;
}

/* Only hides on lg & xl screens */
.hideLarge-screen {
display: block;
}

/*Media Queries that utilize the classes built to show or hide content based on screen size */
@media (min-width: 768px) { 
    .medium-screen {
        display: block;
    }
 }

 @media (min-width: 992px) { 
     .large-screen {
         display: block;
     }
  }

  @media (max-width: 768px) {
      .extraSmall-screen {
          display: none;
      }
  }

  @media (min-width: 992px) {
      .hideLarge-screen {
          display: none;
      }
  }