/* This class sets the custom style for the footer's on this website */
.footerStyle {
    text-align: center;
    background-color: #FFD700;
    vertical-align: bottom;
}

/* This class sets the custom style for the forms on this website */
.formStyle {
    color: Black;
    background-color: lightgray;
    }

/* These classes show or hide content based on the screen size*/
.extraSmall-screen {
    display: block;
}

.medium-screen {
    display: none;
}

.large-screen {
    display: block;
}

/*Media Queries that utilize the classes built to show or hide content based on screen size */
@media (min-width: 768px) { 
    .medium-screen {
        display: block;
    }
 }

 @media (min-width: 992px) { 
     .large-screen {
         display: block;
     }
  }

  @media (max-width: 768px) {
      .extraSmall-screen {
          display: none;
      }
  }